.header {
  padding: 25px 0;
  background: #fff;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.235);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.top-menu {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  list-style: none;
  margin-bottom: 0;
  &__link {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #222;
    @include transition3s
    &:hover {
      text-decoration: none;
      color: $additional;
    }
  }
}

.mobile-menu {
  list-style: none;
  padding: 0;
  &__link {
    color: #fff;
    line-height: 3;
    font-weight: 100;
    font-size: 24px;
    text-transform: uppercase;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
  &-wrap {
    text-align: center;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255,90,0, 0.97);
    position: fixed;
    right: -100vw;
    transition: all 0.5s;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    &_active {
      right: 0;
    }
  }
  &-btn {
    display: none;
    width: 50px;
    height: 50px;
    background: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.235);
    margin-left: auto;
    position: relative;
    z-index: 5;
    border-radius: 50%;
    &__span, &__span::before, &__span::after {
      display: block;
      height: 2px;
      width: 18px;
      background: #333;
      position: absolute;
      left: 50%;
      margin-left: -9px;
      top: 50%;
      margin-top: -1px;
    }
    &__span::before {
      content: '';
      margin-top: -6px;
      transition: all 0.2s;
    }
    &__span::after {
      content: '';
      margin-top: 4px;
      transition: all 0.2s;
    }
    &_active &__span {
      background: transparent;
      &::before {
        margin-top: 0;
        transform: rotate(135deg);
      }
      &::after {
        margin-top: 0;
        transform: rotate(-135deg);
      }
    }
  }

}
