@import "vars";
@import "fonts";
// @import "libs";

::-webkit-input-placeholder {
	color: #666;
}

::-moz-placeholder {
	color: #666;
}

:-ms-input-placeholder {
	color: #666;
}

::-ms-input-placeholder {
	color: #666;
}

::placeholder {
	color: #666;
}

::-moz-selection {
	background-color: orange;
	color: #fff;
}

::selection {
	background-color: orange;
	color: #fff;
}

input,textarea {
	outline: 0;
}

input:focus:required:invalid,textarea:focus:required:invalid {
	border-color: red;
}

input:required:valid,textarea:required:valid {
	border-color: green;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: Roboto,sans-serif;
	overflow-x: hidden;
	color: #333;
}

.example-grid {
	display: -ms-grid;
	display: grid;
	grid-gap: 20px;
	-ms-grid-columns: 1fr 20px 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "left right";
}

.example-grid>div:first-child {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: left;
}

.example-grid>div:last-child {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	grid-area: right;
}

@media (max-width:575.98px) {
	.example-grid {
		display: block;
	}

	.example-grid>div {
		padding: 10px 0;
	}
}

.example-img {
	width: 100%;
}

.parent {
	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
}
