@import "vars";
@import "fonts";
// @import "libs";

* {
	outline: 0 !important;
}

::-webkit-input-placeholder {
	color: #BDBDBD;
}

::-moz-placeholder {
	color: #BDBDBD;
}

:-ms-input-placeholder {
	color: #BDBDBD;
}

::-ms-input-placeholder {
	color: #BDBDBD;
}

::placeholder {
	color: #BDBDBD;
}

::-moz-selection {
	background-color: orange;
	color: #fff;
}

::selection {
	background-color: $additional;
	color: #fff;
}

input,textarea {
	outline: 0;
}

input:focus:required:invalid,textarea:focus:required:invalid {
	border-color: red;
}

input:required:valid,textarea:required:valid {
	border-color: green;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1;
	font-family: Ubuntu, sans-serif;
	overflow-x: hidden;
	color: $default;
}

.example-grid {
	display: -ms-grid;
	display: grid;
	grid-gap: 20px;
	-ms-grid-columns: 1fr 20px 1fr;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: "left right";
}

.example-grid>div:first-child {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
	grid-area: left;
}

.example-grid>div:last-child {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	grid-area: right;
}

@import "header";
@import "slider";

.section-default {
	padding: 70px 0 100px 0;
	overflow-y: hidden;
}

.section-default_bg_tariffs {
	background: url(../img/bg-tariffs.jpg) no-repeat;
	background-size: cover;
}

.section-default_bg_deals {
	background: url(../img/bg-deals.jpg) no-repeat;
	background-size: cover;
}

.section-default__title {
	color: #BDBDBD;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 5px;
}

.btn-default {
	border: 1px solid transparent;
	border-radius: 0;
	background: #FF5A00;
	color: #fff;
	padding: 11px 0;
	font-size: 18px;
	width: 100%;
	&:hover {
		border: 1px solid #FF5A00;
		background: transparent;
		color: #FF5A00;
		box-shadow: none;
	}
	&:focus {
		box-shadow: none;
	}
}

.default-title {
	font-size: 48px;
	color: $default;
	@include MerriweatherBlack;
}

.default-title_color_white {
	color: #fff;
}

@import "about";
@import "tariffs";
@import "stages";
@import "deals";
@import "reviews";
@import "footer";
@import "modal";
@import "media";

@media (max-width:575.98px) {
	.example-grid {
		display: block;
	}

	.example-grid>div {
		padding: 10px 0;
	}
}

.example-img {
	width: 100%;
}

.parent {
	background-image: url(data:image/gif;base64,R0lGODlhCgAIAIABAN3d3f///yH5BAEAAAEALAAAAAAKAAgAAAINjAOnyJv2oJOrVXrzKQA7);
}
